<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录首页</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="login_div">
        <div>登录</div>
        <form method="post">
            <div class="form-account">
                <label for="input-acc-id">学号：</label>
                <input type="text" name="account_input" placeholder="请输入学号" id="input-acc-id">
            </div>

            <div class="form-password">
                <label for="input-pwd-id">密码：</label>
                <input type="text" name="password_input" placeholder="请输入密码" id="input-pwd-id">
            </div>
            <div class="button-login-div">
                <button type="submit" class="button-login">登录</button>
            </div>
        </form>
    </div>
</body>
</html>